--HOSWIZARD\PRESTO
SELECT 
	CA.[CHANGE]
	,CA.[SEQUENCE] AS CHG_ASSMT
	,G.CODE AS 'ASSIGNED_GROUP'
	,CASE WHEN C.ASSIGNED_TO IS NULL THEN NULL ELSE A.FNAME + ' ' +A.[NAME] END AS ASSIGNED_TO
	,P.FNAME + ' ' +P.[NAME] AS ASSESSOR
	,LEFT(CONVERT(NVARCHAR(1000),C.DESCRIPTION),100) AS 'DESCRIPTION (TRUNCATED)'
	,CA.[COST_ESTIMATE]
	,CA.[TECH_ASSMT]
	,CA.[BUS_ASSMT]
	,CA.[IMPACT_DESC]
	,CA.[RESRC_DESC]
	,CA.[RECOMMEND]
	,UDS.ID
FROM [MagicSDE].[_SMDBA_].[_CHANGEASMT_] CA WITH (READUNCOMMITTED)
JOIN [MagicSDE].[_SMDBA_].[_CHANGE_] C WITH (READUNCOMMITTED)
	ON CA.[CHANGE] = C.[SEQUENCE]
JOIN MagicSDE.[_SMDBA_].[_GROUPS_] G WITH (READUNCOMMITTED)
	ON C.[_GROUP_] = G.SEQUENCE
JOIN MagicSDE.[_SMDBA_].[_CHANGEDET_] CD WITH (READUNCOMMITTED)
	ON C.SEQUENCE = CD.CHANGE
JOIN MagicSDE._SMDBA_._PERSONNEL_ P  WITH (READUNCOMMITTED)
	ON CA.[ASSESSOR] = P.SEQUENCE
JOIN MagicSDE._SMDBA_._PERSONNEL_ A  WITH (READUNCOMMITTED)
	ON ISNULL(C.[ASSIGNED_TO],1077) = A.SEQUENCE
JOIN MagicSDE.[_SMDBA_].[_CMSTATUS_] UDS WITH (READUNCOMMITTED)
	ON C.[SEQ_CMSTATUS] = UDS.[SEQUENCE]
WHERE CD.SEQUENCE = (SELECT MAX(SEQUENCE)
                    FROM   MagicSDE.[_SMDBA_].[_CHANGEDET_] WITH (READUNCOMMITTED)
                    WHERE  CHANGE = C.SEQUENCE
                           AND (ACTION = 56
                                 OR ACTION = 52))
AND C.[_GROUP_] = 1014
--AND P.FNAME + ' ' +P.[NAME]= 'Jon Eden'
AND CA.COST_ESTIMATE IS NULL
AND CA.TECH_ASSMT IS NULL
AND CA.BUS_ASSMT IS NULL
AND C.[ACT_END_DATE] IS NULL
AND C.[DATE_OPEN:] > '2014-01-01 00:00:00.000'
AND UDS.ID NOT IN ('CANCELLED','FAIL_BACKOUT','COMPLETED','REJECTED')
ORDER BY CA.[CHANGE] DESC