--HOSWIZARD\PRESTO
DECLARE @CR INT
SET @CR = 117315

SELECT 
	CA.[CHANGE]
	,CA.[SEQUENCE] AS CHG_ASSMT
	,G.CODE AS 'ASSIGNED_GROUP'
	,CASE WHEN C.ASSIGNED_TO IS NULL THEN NULL ELSE A.FNAME + ' ' +A.[NAME] END AS ASSIGNED_TO
	,P.FNAME + ' ' +P.[NAME] AS ASSESSOR
	,LEFT(CONVERT(NVARCHAR(1000),C.DESCRIPTION),100) AS 'DESCRIPTION (TRUNCATED)'
	,CA.[COST_ESTIMATE]
	,CA.[TECH_ASSMT]
	,CA.[BUS_ASSMT]
	,CA.[IMPACT_DESC]
	,CA.[RESRC_DESC]
	,CA.[RECOMMEND]
FROM [MagicSDE].[_SMDBA_].[_CHANGEASMT_] CA
JOIN [MagicSDE].[_SMDBA_].[_CHANGE_] C
	ON CA.[CHANGE] = C.[SEQUENCE]
JOIN MagicSDE.[_SMDBA_].[_GROUPS_] G WITH (READUNCOMMITTED)
	ON C.[_GROUP_] = G.SEQUENCE
JOIN MagicSDE._SMDBA_._PERSONNEL_ P  WITH (READUNCOMMITTED)
	ON CA.[ASSESSOR] = P.SEQUENCE
JOIN MagicSDE._SMDBA_._PERSONNEL_ A  WITH (READUNCOMMITTED)
	ON ISNULL(C.[ASSIGNED_TO],1077) = A.SEQUENCE
WHERE P.FNAME + ' ' +P.[NAME]= 'Jon Eden'
AND [CHANGE] = @CR
ORDER BY CA.[CHANGE] DESC